<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <title>A</title>
         <load href="__PUBLIC__/js/jquery-1.9.1.js" />
        <load href="__PUBLIC__/js/bootstrap.min.js" />
        <load href="__PUBLIC__/css/bootstrap.min.css" />
        <load href="__PUBLIC__/css/interlocution.css" /> 
        <load href="__PUBLIC__/js/jquery.cookie.js" />    
    </head>
    <style type="text/css">
        body{margin:0px;padding:0px;text-align:center;}
        #box{
            width:80px;
            height:200px;
            border:1px solid black;
        }
    </style>
    <body>
        <div id="box">
            <ul>
                <li>问答</li>
                <li>作品</li>
                <li>文章</li>
                <li>活动</li>
            </ul>
        </div>

    </body>
</html>
