 <div class="myclub-silder fl">
                    <div class="user-info-me">
                        <a href=""><img id="img" style="width:60px;" class="img-circle fl" src="__ROOT__/Uploads/{$_SESSION['home']['img']}"></a>
                        <span><a class="myname" href=""><h4>{$_SESSION['home']['name']}</h4></a></span>
                        <span>zhiye</span>
                    </div>
                    <div class="use-sign">
                        gexingqianm
                    </div>

                    <div class="clear"></div>
                    <ul>
                        <li><a href="">我的问答</a></li>
                        <li><a href="">我的作品</a></li>
                        <li><a href="">我的文章</a></li>
                        <li><a href="">我的设置</a></li>
                        <li><a href="">我的课程</a></li>
                    
                    </ul>
                   
                </div>


