<include file="Public/header"/>
<load href="__PUBLIC__/css/saved_resource_sp.css" />

<include file="Public/space_nav"/>

<div class="r space-main">

    <div class="family">
        <h1 class="family-hd">我的计划</h1>
    </div>
    <div class="course-tool-bar clearfix">
        <div class="tool-left l">
            <a href="{:U('myplan',array('type' => 0))}" class="sort-item ">加薪利器</a>
            <a href="{:U('myplan',array('type' => 2))}" class="sort-item ">求职路线</a>
        </div>
        <div class="tool-right r">


        <span class="tool-item total-num">
            共<b>2</b>个课程
        </span>
        <span class="tool-item tool-pager">
            <span class="pager-num">
                <b class="pager-cur">1</b>/<em class="pager-total">1</em>
            </span>
                        <a href="javascript:void(0)" class="pager-action pager-prev hide-text disabled">上一页</a>

                        <a href="javascript:void(0)" class="pager-action pager-next hide-text disabled">下一页</a>

        </span>
        <span class="tool-item tool-remove js-program-edit" data-edit="0">
            <i class="icon icon-del"></i><b>删除</b>
        </span>
        </div>
    </div>


    <div class="myspace-courselist myspace-bg">
        <div class="main-bd clearfix">
            <div class="space-tabs-menu">
                <div class="space-tabs-edit js-program-edit" data-edit="0"></div>    </div>
            <div class="course-list program-medias">
                <ul class="clearfix">

                    <foreach name="info" item="val">
                        <li data-id="32" class="course-one">
                            <a href="{:U('Plan/plandetail',array('id'=>$val['id']))}">
                                <div class="course-list-img">
                                    <img width="240" height="158" alt="" src="__ROOT__/Uploads/{$val.img}">
                                </div>
                                <h5>
                                    <span>{$val.name}</span>
                                </h5>
                                <div class="tags">
                                    <span>求职</span>
                                    <span>实战</span>
                                </div>
                        <span class="complete">
                            完成<strong>{$val.pro}%</strong>
                        </span>
                            </a>
                            <span class="del "></span>
                        </li>
                    </foreach>


                </ul>
            </div>
        </div>
    </div>

</div>
</div>

</div>





<include file="Public/footer"/>


