body {
	background: #edeff0;
}
.gotoTopBtn {
	margin-left: 620px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
/*混入.menu-vertical*/
.other-left {
	position: relative;
	width: 220px;
	padding: 0 20px;
	overflow: visible;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	list-style-type: none;
}
.other-left li {
	position: relative;
	width: 220px;
	height: 60px;
	overflow: visible;
	border-bottom: 1px solid #edf1f2;
}
.other-left li:last-child {
	border-bottom: 0 none;
}
.other-left li a {
	position: relative;
	display: block;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	font-size: 14px;
	color: #787d82;
}
.other-left li a span.tip {
	height: 16px;
	border-radius: 10px;
	background-color: red;
	line-height: 16px;
	font-size: 12px;
	color: white;
	padding: 0 10px;
	position: absolute;
	right: 25px;
	top: 23px;
}
.other-left li:hover a span {
	color: #14191e;
}
.other-left li:hover a span.tip {
	color: white;
}
.other-left li.selected:before {
	content: " ";
	position: absolute;
	top: 0;
	width: 2px;
	height: 60px;
	background-color: #cc0000;
	left: -21px;
}
.other-left li.selected a span {
	color: #cc0000;
}
.other-left li.selected a span.tip {
	color: white;
}
.other-right {
	margin-left: 280px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: #fff;
	overflow: hidden;
}
.other-right-wrap {
	position: relative;
	min-height: 750px;
}
.others {
	padding: 10px 40px 50px;
}
.others h1 {
	font-size: 16px;
	line-height: 49px;
	color: #363d40;
	margin-bottom: 2.1em;
	border-bottom: 1px solid #eceff0;
}
.others p {
	margin: 1.5em 0;
	line-height: 150%;
	color: #656e73;
}
.others .qqText,
.others .groupNum {
	margin-bottom: 0;
}
.others .groupNum {
	line-height: 24px;
	margin-top: 10px;
	padding-left: 20px;
}
.others ol {
	padding-left: 10px;
}
.space-side {
	margin: 0 20px 20px;
	color: #60686b;
}
.perface {
	border-bottom: 1px solid #eceff0;
}
.perface li {
	line-height: 31px;
	font-size: 12px;
	margin-bottom: 20px;
}
.job-nav {
	padding-top: 30px;
	margin-bottom: 28px;
}
.job-nav li {
	float: left;
	width: 150px;
	margin-right: 10px;
}
.job-nav a {
	font-size: 15px;
	font-weight: bold;
	color: #6ccb7a;
}
.job-nav a:hover {
	text-decoration: underline;
	color: #319d42;
}
.job-block {
	margin-bottom: 45px;
}
.job-block ol {
	line-height: 30px;
}
.job-block li {
	font-size: 12px;
}
.job-block h2 {
	font-size: 15px;
	color: #303538;
	margin: 1em 0;
}
.job-block h3 {
	font-size: 14px;
	margin-top: 28px;
}
.others .job-email {
	font-size: 12px;
	padding: 34px 0 0 10px;
	margin: 0;
	color: #60686b;
}
.works-wrap h1 {
	font-size: 15px;
	color: #333;
	padding: 15px 0;
	border-bottom: 1px solid #eceff0;
	margin: 0;
}
.recruit-contact {
	font-size: 12px;
	line-height: 30px !important;
	margin: 0 !important;
}
.recruit-contact span {
	color: #c9394a;
}
.other-contact {
	width: 835px;
	padding-bottom: 100px;
	margin-right: -60px;
	color: #60686b;
}
.other-contact li {
	float: left;
	padding-bottom: 30px;
	width: 300px;
	margin-right: 170px;
}
.other-contact .contact-right {
	margin-right: 0;
}
.others .other-contact h1 {
	padding: 10px;
	margin: 0;
	border-bottom: 0 none;
}
.other-contact h2 {
	padding: 0 20px 0;
	font-size: 14px;
	color: #1f2426;
}
.others .contact-title {
	margin-bottom: 0.8em;
}
.other-contact p {
	padding: 0 20px 32px;
	margin: 0;
	font-size: 12px;
	line-height: 30px;
	border-bottom: 1px solid #eceff0;
}
.alert {
	position: absolute;
	z-index: 1030;
	left: 300px;
}
/*about us*/
.us-list {
	padding-left: 20px;
}
.us dt {
	color: #303538;
	font-size: 14px;
	padding-left: 27px;
	background: url(../images/us-sprite.png) no-repeat -85px -192px;
}
.us dd {
	padding-left: 27px;
	margin-bottom: 28px;
	font-size: 12px;
	color: #60686b;
}
.us-app-wrap {
	margin-top: 18px;
}
.us-app-code {
	width: 100px;
	height: 100px;
	background: url(../images/us-sprite.png) no-repeat 0 0;
}
.us-app-links {
	float: left;
	margin-left: 30px;
	border-left: 1px solid #edf0f2;
	padding-left: 30px;
	height: 100px;
}
.us-app-links a {
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #39b94e;
	font-size: 18px;
}
.us-app-links a:link,
.us-app-links a:visited {
	color: #fff;
}
.us-app-links a:hover {
	background: #33a646;
}
.us-app-links i {
	display: inline-block;
	width: 15px;
	height: 18px;
	vertical-align: -2px;
	margin-right: 5px;
	background: url(../images/us-sprite.png) no-repeat;
}
.us-app-iphone {
	margin-bottom: 20px;
}
.us-app-iphone i {
	background-position: -85px -140px;
}
.us-app-android i {
	background-position: -85px -168px;
}
.us-more {
	padding-left: 48px;
}
.join-status {
	padding-left: 10px;
}
.us-join-qq,
.us-join-qq:link {
	padding-left: 10px;
	color: #39b94e;
}
.us-join-qq:visited {
	color: #319d42;
}
.us-join-qq:hover {
	color: #61c771;
}
.qqGroup li {
	line-height: 34px;
}
/*about group*/
.group-bd {
	width: ;
}
.others .order-list {
	padding: 0;
}
.group-bd li {
	list-style: none;
}
.item1 li {
	float: left;
	vertical-align: top;
}
.item2 li {
	float: right;
}
.group-img {
	vertical-align: top;
}
.wrap,
.speci-wrap {
	display: table;
	width: 184px;
	height: 184px;
	position: relative;
}
.img {
	vertical-align: top;
	display: block;
}
.img-wrap {
	height: 100%;
}
.group .lowlayer {
	margin: 0 14px;
	color: #fff;
	height: 100%;
	*width: 90%;
	position: absolute;
	z-index: 300;
	top: 0;
}
.lowlayer td {
	line-height: 24px;
}
.group .layer-title {
	position: absolute;
	width: 184px;
	height: 184px;
	display: table;
	vertical-align: middle;
	color: white;
	display: none;
}
.group .wrap.hover .layer-title {
	display: table;
}
.group .speci-wrap .layer-title {
	display: table;
}
.group .speci-wrap.hover .layer-title {
	display: none;
}
.group .equi-square .layer-title {
	width: 368px;
	height: 368px;
}
.group .mid-equi-square .layer-title {
	width: 368px;
}
.group .wider-equi-square .layer-title {
	width: 552px;
}
.group .layer-title span {
	display: table-cell;
	vertical-align: middle;
	line-height: 20px;
	padding: 10px;
}
.purple {
	/*background: #945aae;*/
	background: rgba(148, 90, 174, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc945aae,endColorstr=#cc945aae);
}
.blue {
	/*background: #326db9;*/
	background: rgba(50, 109, 185, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc326db9,endColorstr=#cc326db9);
}
.bg-red {
	/*background: #c9394a;*/
	background: rgba(201, 57, 74, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccc9394a,endColorstr=#ccc9394a);
}
/*friend links*/
.friend-links {
	padding: 0 20px;
}
.friend-links dd {
	font-size: 12px;
	width: 190px;
}
