<include file="Public/header"/>
<include file="Public/plan_info"/>
<load href="__PUBLIC__/css/saved_resource_pd.css" />


                <div class="plan-step-wrap js-route-panel" id="js-route-panel">
                    <ul class="plan-step clearfix">

                        <foreach name="detail" item="val">
                        <li class="step-item clearfix
                         step-first
                ">
                            <i class="line"></i>
                            <i class="dot"></i>
                            <span class="hd l">{$val.name}</span>
                            <i class="v-line l"></i>
                            <div class="bd l clearfix my_butt">
                                <foreach name="val['path']" item="pat">
                                <!-- 选中open -->
                                <a href="javascript:;" class="step-anchor" style="position: relative;">

                                    <p hidden>{$pat.id}</p>
                                    <b>{$pat.name}</b>
                                    <i class="step-arr"></i>
                                    <div class="rules" style="background: white;z-index: 5000;border-radius: 5px;
                                   position: absolute;bottom:35px;left:0px;padding: 10px 20px;border:1px solid #D0D6D9">
                                        <span class="rule">{$pat.desc}</span>
                                    </div>

                                </a>
                               </foreach>
                            </div>

                            <div class="step-medias-wrap" style="display: block;">
                                <div class="step-medias course-list">
                                    <ul class="clearfix" style="display: none;">

                                    </ul>

                                </div>
                            </div>
                        </li>
                        </foreach>
                    </ul>
                </div>
                <!-- 学习报告 -->

                <!-- 学习报告 E-->
            </div>
        </div>
    </div>
    <div class="anchor-pop" style="opacity: 0; margin-top: -10px; display: none;">
        <div class="t"></div>
        <div class="m">
            <div class="anchor-pop-main"></div>
        </div>
        <div class="b"></div>
    </div>

    <!--   我的JQ    -->
    <script>

        $('.my_butt a').mouseover(function(){
            hideTimer=setTimeout("$(this).find('.rules').show();",1);//鼠标滑过元素1秒钟显示子元素
        }).mouseleave(function(){
            clearTimeout(hideTimer);//清除计时器
            hideTimer=setTimeout("$(this).find('.rules').hide();",1);//鼠标移除元素区域子元素消失
        });

        /*

        $('.my_butt a').mouseenter(function(e){

            $(this).find('.rules').fadeIn('fast');
        });
        $('.my_butt a').mouseleave(function(e){
            $('.step-anchor').find('.rules').fadeOut('fast');

        });
        */

        $('.my_butt a').click(function(e){

            // 单击颜色
            $('.open').removeClass('open');
            $(this).addClass('open');




            $('.my_butt a').parent().next().find('.step-medias').find('ul').fadeOut('fast');
            $(this).parent().next().find('.step-medias').find('ul').fadeIn('fast');
            $(this).parent().next().find('.step-medias').find('ul').children().remove('.course-one');
            $.get('{:U("pl_ajaxName")}',{id: $(this).find('p').text()},function(result){
                console.dir($(result));


                var url = '__MODULE__/View/index';
                var root = '__ROOT__';
                $.each(result,function(i,val){

                    var tt = val['id'];
                    var im = val['fimg'];

                    $('.my_butt a').parent().next().find('.step-medias').find('ul').append('<li class="course-one">' +
                            '<a href="'+ url + '?view=' + tt + '"><div class="course-list-img">' +
                            '<img width="240" height="135" alt="前端开发工具技巧介绍—DW篇" src=" '+ root +'/Uploads/'+ im +'"></div><h5>' +
                            '<span>'+ val['lesson'] +'</span></h5><div class="tips">' +
                            '<p class="text-ellipsis">'+ val['lesson_desc'] +'</p>' +
                            '<span class="l ">更新完毕</span><span class="l ml20">45901人学习</span></div>' +
                            '<span class="time-label">40分钟 |' + val['nandu'] + '</span><b class="follow-label">跟我学</b></a></li>');

                });

            });

        })



    </script>

</div>
<include file="Public/footer"/>