<include file="Public/header"/>
<load href="__PUBLIC__/css前台/about/a.css" />
     <load href="__PUBLIC__/css前台/about/suggest.css" />
<div id="main">

<div class="container clearfix">
    <ul class="other-left l">
      <li>
        <a href="{:U('us')}"><span>关于我们</span></a>
      </li>
      <li>
        <a href="{:U('group')}"><span>团队介绍</span></a>
      </li>
      <li>
         <a href="{:U('job')}"><span>人才招聘</span></a>
      </li>
      <li>
        <a href="{:U('teacher')}"><span>讲师招募</span></a>
      </li>
      <li >
        <a href="{:U('contact')}"><span>联系我们</span></a>
      </li>
      <li class="selected">
        <a no-pjajx="" href="{:U('suggest1')}"><span>意见反馈</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('friendly')}"><span>友情链接</span></a>
      </li>
    </ul>
    <div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
<div class="others clearfix">
    <h1>意见反馈</h1>
    <div class="feedback-wrap">
        <div class="result-wrap">
            <h2>提交成功</h2>
            <p>感谢你的建议，我会努力让自己变得高大上！</p>
        </div>
        <div class="field-wrap">
            <form action="{:U('suggest1')}" method="post" >
            <div>
                <textarea name="suggest" id="info" class="phd" cols="30" rows="10" placeholder="骚年，哪有不爽，来喷吧！"></textarea>
                <p class="rlf-tip-wrap"></p>
            </div>
            <div>
                <input type="text" name="cont_info" id="contact" class="phd" placeholder="请留下真实联系方式（邮箱、QQ），方便我们答疑解惑！">

                <p class="rlf-tip-wrap"></p>
            </div>
            <div class="btn-wrap">
                <button><input  type="submit"  id="submit" class="r" value="" onclick="dosubmit();">提交</button>


               <p id="feedback-error" class="rlf-tip-wrap rlf-tip-error" style="display:none"></p>
            </div>
            </form>
        </div>
      <div class="qqGroup-feed">
        <ul>
            <li>加入粉丝QQ群,直接喷！</li>
            <li>群7: 416465236</li>
            <li>Java群: 6200344</li>
            <li>Php群: 42125527</li>
            <li>web前端群2: 27810317</li>
            <li>安卓群: 232465453</li>
            <li>在校生群: 187845234</li>
        </ul>
    </div>
        <div class="feedback-content">
            <ul class="feedback-nav clearfix tip">
                <li class="selected">
                    <a href="{:U('suggest1')}">我的反馈</a>
                </li>
                <li >
                    <a href="{:U('suggest2')}">其它反馈</a>
                </li>
            </ul>
            <ul class="feedback-list" id="feedback-list">
                
                <foreach name="list" item="val">
                <li class="feedback-item">
                    <p class="text">{$val.suggest}</p>
                    <p class="time"><?php echo date( 'Y-m-d H:i:s', $val['cre_time'])  ?>提出</p>
                    <p class="reply">
                    <span class="imooc-manager">慕课网产品经理：</span>
                      {$val.reply}
                    </p>
                </li>
                </foreach>            
            </ul>
          <div class="page">{$pageButton}</div>
    </div>
</div>

          </div>
        </div>
    </div>
</div>

</div>

<include file="Public/footer"/>
