<include file="Public/header"/>
<load href="__PUBLIC__/css前台/about/a.css" />
<div id="main">

<div class="container clearfix">
    <ul class="other-left l">
      <li >
        <a href="{:U('us')}"><span>关于我们</span></a>
      </li>
      <li>
        <a href="{:U('group')}"><span>团队介绍</span></a>
      </li>
      <li>
         <a href="{:U('job')}"><span>人才招聘</span></a>
      </li>
      <li class="selected">
        <a href="{:U('teacher')}"><span>讲师招募</span></a>
      </li>
      <li>
        <a href="{:U('contact')}"><span>联系我们</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('suggest1')}"><span>意见反馈</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('friendly')}"><span>友情链接</span></a>
      </li>
    </ul>
    <div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            


<div class="others">
    <h1>讲师招募</h0>
    <div class="space-side">
      <p>想试水尝尝网络讲师的滋味？快加入慕课网讲师队伍吧！</p>
      <div class="job-block">
          <h2>我们希望你：</h2>
          <ol>
            <li>-&nbsp;热衷分享；</li>
            <li>-&nbsp;有3年以上的大型项目开发经验；</li>
            <li>-&nbsp;至少精通前端开发技术、Html5（游戏）、PHP、3G开发、JAVA、Python、cocos2d-x、Unity 3D开发技术中的一项；</li>
          </ol>
          <h2>你的收获：</h2>
          <ol>
            <li>-&nbsp;额外收入；</li>
            <li>-&nbsp;技术的沉淀与分享；</li>
            <li>-&nbsp;迅速增长的粉丝及业内知名度；</li>
          </ol>
	      <br>
                            <a href="{:U('lecturer')}" target="_blank" class="btn btn-green">立即加入</a>
                  	
      </div>
    </div>
</div>

          </div>
        </div>
    </div>
</div>

</div>

<include file="Public/footer"/>
