<include file="Public/header"/>
<load href="__PUBLIC__/css前台/about/a.css" />

<div class="container clearfix">
    <ul class="other-left l">
      <li>
        <a href="{:U('us')}"><span>关于我们</span></a>
      </li>
      <li>
        <a href="{:U('group')}"><span>团队介绍</span></a>
      </li>
      <li>
         <a href="{:U('job')}"><span>人才招聘</span></a>
      </li>
      <li>
        <a href="{:U('teacher')}"><span>讲师招募</span></a>
      </li>
      <li class="selected">
        <a href="{:U('contact')}"><span>联系我们</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('suggest1')}"><span>意见反馈</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('friendly')}"><span>友情链接</span></a>
      </li>
    </ul>
    <div class="other-right ">
        <div class="other-right-wrap">
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
          <div id="pjax-container">
            
 

<div class="others">
   <h1 class="contact-title">联系我们</h1>
   <ul class="other-contact clearfix">
      <li>
         <h1>讲师招募</h1>
         <h2>冯同学</h2>
         <p>
            QQ：824528080<br>
            E-mail：824528080@qq.com
         </p>
      </li>
      <li class="contact-right">
         <h1>文章投稿</h1>
         <h2>蔡同学</h2>
         <p>
            E-mail：292331490@qq.com
         </p>
      </li>
      <li>
         <h1>人才招聘</h1>
         <h2>陈同学</h2>
         <p>
            QQ：958250094 <br>
            E-mail：958250094@qq.com
         </p>
      </li>
      <li class="contact-right">
         <h1>网站合作</h1>
         <h2>高同学</h2>
         <p>
            QQ：1327724115 <br>
            E-mail：1327724115@qq.com
         </p>
      </li>
      <li>
         <h1>高校合作</h1>
         <h2>
         </h2>
      </li>
      <li class="contact-right">
         <h1>公司地址</h1>
         <h2>地狱大街14号，进门密码:小事招魂，大事掘坟，没事来串门。</h2>
         <p style="padding-bottom:61px;">&nbsp;</p>
      </li>
   </ul>

</div>

          </div>
        </div>
    </div>
</div>

</div>

<include file="Public/footer"/>
