<include file="Public/header"/>

<load href="__PUBLIC__/css前台/about/a.css" />
<div id="main">

<div class="container clearfix">
    <ul class="other-left l">
      <li >
        <a href="{:U('us')}"><span>关于我们</span></a>
      </li>
      <li class="selected">
        <a href="{:U('group')}"><span>团队介绍</span></a>
      </li>
      <li>
         <a href="{:U('job')}"><span>人才招聘</span></a>
      </li>
      <li>
        <a href="{:U('teacher')}"><span>讲师招募</span></a>
      </li>
      <li>
        <a href="{:U('contact')}"><span>联系我们</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('suggest')}"><span>意见反馈</span></a>
      </li>
      <li>
        <a no-pjajx="" href="{:U('friendly')}"><span>友情链接</span></a>
      </li>
  </ul>
  <div class="other-right ">
        <div class="other-right-wrap" >
          <div id="pjax-tiper" class="alert" style="display:none">正在加载...</div>
  <div id="pjax-container">


    <div class="group">
  <div class="group-hd" style='position:relative'>
    <img class="group-img" src="__PUBLIC__/img前台/aboutus/usimg.jpg" alt="爱慕课,iMooc" />
    <div style="position: absolute; right: 17px; top: 17px;">
    </div>
  </div>
  <div class="group-bd clearfix">
    <!-- the first group from 01-08 -->
    <ol class="order-list item1">
              <li data-id="1">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>我为有这样的团队而骄傲，慕课网，大有所为！</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_01.jpg" alt="" />
                      </div>
        </li>
              <li data-id="2">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>技术改变生活！</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_02.jpg" alt="" />
                      </div>
        </li>
              <li data-id="3">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>男生节收到女生送的恐龙蛋，老开心了！怎么形容我们呢，互联网精神？屌丝？有情怀？有爱？好吧，我不知道，说多了又会被喷。。</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_03.jpg" alt="" />
                      </div>
        </li>
              <li data-id="4">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>看到用户对我们的认可，我坚信我们所有的努力是值得的，用心做好内容，做业界良心课程！</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_04.jpg" alt="" />
                      </div>
        </li>
              <li data-id="5">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>希望有更多的人认识慕课网，多年以后，如果有一帮牛X的程序员说，我在慕课网学习过，那我们现在所做的一切就值了</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_05.jpg" alt="" />
                      </div>
        </li>
              <li data-id="6">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>码农皆知的慕课网，仍有许多你不知道的事，我能随便告诉你我在这儿如此开心吗？</span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_06.jpg" alt="" />
                      </div>
        </li>
              <li data-id="7">
          <div class="wrap">
                        <div class="layer-title bg-opacity bg-red"><span>能为慕课网的成长壮大尽一份力，我很开心！能让慕课网受到众多用户的喜爱，我很自豪！我会继续努力!
  </span></div>
            <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_07.jpg" alt="" />
                      </div>
        </li>
              <li data-id="8">
          <div class="wrap">
                        <a href="/about/job" target="_blank">
              <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_08.jpg" alt="" />
            </a>
                      </div>
        </li>
          </ol>
    <!-- the second group from 09-10 -->
    <ol class="order-list item2">
                      <li data-id="9">
              <div class="wrap equi-square">
                <div class="layer-title bg-opacity bg-red"><span>每天很快乐的做着一件很牛很酷的事，不要小看这件事，说它牛，它就牛。说不定它将颠覆一个行业，引起8级地震！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_09.jpg" alt="" />
              </div>
            </li>
                      <li data-id="11">
              <div class="wrap mid-equi-square">
                <div class="layer-title bg-opacity bg-red"><span>工作中的好同事，生活中的好朋友。在慕课网，收获的不仅是一份工作经验，更有关乎青春的友情亲情</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_11.jpg" alt="" />
              </div>
            </li>
                      <li data-id="10">
              <div class="speci-wrap ">
                <div class="layer-title bg-opacity bg-red"><span>当得知APP被苹果推荐的那一刻，内心久久不能平静，彻夜无眠，我在不断的思考如何让慕课App成为随身学习的重要工具 ，肩负重任我们稳步向前！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_10.jpg" alt="" />
              </div>
            </li>
                  </ol>
        <!-- the third group from 11-56 -->
        <ol class="order-list item1">
                      <li data-id="13">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我是小花，谢谢慕课给了我一个学习和成长的实习机会，给了我一个这么完美的暑假，给了我一个学习机会，给了我一段这么美好的回忆！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_13.jpg" alt="" />
              </div>
            </li>
                      <li data-id="14">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>喜欢挑战，更喜欢征服；喜欢高效，更享受速度。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_14.jpg" alt="" />
              </div>
            </li>
                      <li data-id="15">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>来到慕课网，除了每天做自己喜欢做的工作，还有幸成为了讲师，我希望通过和小伙伴的努力，让慕课网腾飞，让更多的同学更加便利的获得教育资源，加油！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_15.jpg" alt="" />
              </div>
            </li>
                      <li data-id="16">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我对幸福的理解是，白天有我喜欢的工作，晚上有可爱的你们</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_16.jpg" alt="" />
              </div>
            </li>
                      <li data-id="17">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我和我的喵咪，它很乖</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_17.jpg" alt="" />
              </div>
            </li>
                      <li data-id="18">
              <div class="speci-wrap wider-equi-square">
                <div class="layer-title bg-opacity blue"><span>梦想还是要有的，万一实现了呢</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_18.jpg" alt="" />
              </div>
            </li>
                      <li data-id="19">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>对面的女孩看过来，看过来，看过来！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_19.jpg" alt="" />
              </div>
            </li>
                      <li data-id="20">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我行，因为我相信我行！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_20.jpg" alt="" />
              </div>
            </li>
                      <li data-id="21">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我是达达，我是大家的大内总管，很高兴和这样逗逼的一群人在一起，祝福慕课网所有同学，也祝慕课网越来越好！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_21.jpg" alt="" />
              </div>
            </li>
                      <li data-id="22">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我是寿星，要不要过个生日搞的这么凶残</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_22.jpg" alt="" />
              </div>
            </li>
                      <li data-id="23">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我是川妹子，辣妹子从小不怕辣。小伙伴们喜欢我的辛辣测试，更喜欢我的辣酱，哈哈。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_23.jpg" alt="" />
              </div>
            </li>
                      <li data-id="24">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>小施主，你就从了贫僧吧，我等码农，钱多事少死得早，关键还会对你好</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_24.jpg" alt="" />
              </div>
            </li>
                      <li data-id="25">
              <div class="wrap ">
                <div class="layer-title bg-opacity blue"><span>我和小慕慕的亲密合影，啦啦啦</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_25.jpg" alt="" />
              </div>
            </li>
                      <li data-id="26">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>别说我卖萌，天生大小眼，大眼看天，小眼看地，这样的人生才靠谱</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_26.jpg" alt="" />
              </div>
            </li>
                      <li data-id="27">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>看到慕课网用户蹭蹭的长，老开心了</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_27.jpg" alt="" />
              </div>
            </li>
                      <li data-id="28">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>我是吃货小分队队长，小伙伴们，我先试吃，好吃了，你们立马杀过来！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_28.jpg" alt="" />
              </div>
            </li>
                      <li data-id="29">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>岁月静好，似水流年，认真的女孩最美丽</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_29.jpg" alt="" />
              </div>
            </li>
                      <li data-id="30">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>哥是有家室的人了，妹子们，你们死心吧，不用惦记我了</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_30.jpg" alt="" />
              </div>
            </li>
                      <li data-id="31">
              <div class="speci-wrap ">
                <div class="layer-title bg-opacity purple"><span>慕课网诚聘讲师哦，每每想到自己正在做一件改变中国教育的事，心里就好激动啊，顿时觉得自己高大上起来！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_31.jpg" alt="" />
              </div>
            </li>
                      <li data-id="32">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>和一群怪叔叔工作，好带劲！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_32.jpg" alt="" />
              </div>
            </li>
                      <li data-id="33">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>愿用我的代码，码出慕课明天！希望慕课网能给更多热爱技术的同学带来便利！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_33.jpg" alt="" />
              </div>
            </li>
                      <li data-id="34">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>天马星空的时候，才发现回家的路，心中盛开着白莲花，永不凋谢。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_34.jpg" alt="" />
              </div>
            </li>
                      <li data-id="35">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>背上背包去旅行，享受生活，享受当下！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_35.jpg" alt="" />
              </div>
            </li>
                      <li data-id="36">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>学习是一场自我蜕变的伟大修行，贯穿生命的开始与结束。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_36.jpg" alt="" />
              </div>
            </li>
                      <li data-id="37">
              <div class="wrap ">
                <div class="layer-title bg-opacity purple"><span>喜欢万物复苏的春天，喜欢柳树的嫩黄芽。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_37.jpg" alt="" />
              </div>
            </li>
                      <li data-id="38">
              <div class="speci-wrap wider-equi-square">
                <div class="layer-title bg-opacity purple"><span>白龙马，蹄朝西，驮着唐三藏跟着三徒弟</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_38.jpg" alt="" />
              </div>
            </li>
                      <li data-id="39">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>哥就是如此霸气</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_39.jpg" alt="" />
              </div>
            </li>
                      <li data-id="40">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>享受优雅美好的生活！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_40.jpg" alt="" />
              </div>
            </li>
                      <li data-id="41">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>帅的一塌糊涂，帅的掉渣</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_41.jpg" alt="" />
              </div>
            </li>
                      <li data-id="42">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>在前进的道路上曲折地行进着，对，我是悟空！敢于叛经离道，敢于发出自己的声音，坚持自己！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_42.jpg" alt="" />
              </div>
            </li>
                      <li data-id="43">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>身在帝都，胸装大梦想，每天为自己加油！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_43.jpg" alt="" />
              </div>
            </li>
                      <li data-id="44">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>我愿用自己的画笔，给慕课网添一抹亮丽的色彩</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_44.jpg" alt="" />
              </div>
            </li>
                      <li data-id="45">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>人们都说爱笑的女生运气不会太差，每天微笑的制作每一节课程，解决用户的每一个学习问题，希望好运常伴！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_45.jpg" alt="" />
              </div>
            </li>
                      <li data-id="46">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>我在遥望，月亮之上！2014，爱生活，爱慕课。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_46.jpg" alt="" />
              </div>
            </li>
                      <li data-id="47">
              <div class="wrap mid-equi-square">
                <div class="layer-title bg-opacity bg-red"><span>好基友，口对口，你一口，我一口！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_47.jpg" alt="" />
              </div>
            </li>
                      <li data-id="48">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>哥在步入屌丝队列前也文艺过，怀念一下。。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_48.jpg" alt="" />
              </div>
            </li>
                      <li data-id="49">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>会当凌绝顶，一览众山小，方显我侠女气概！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_49.jpg" alt="" />
              </div>
            </li>
                      <li data-id="50">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>海龟欧巴，我还是比较适应中国的地沟油，回国后我又恢复了婴儿肥。。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_50.jpg" alt="" />
              </div>
            </li>
                      <li data-id="51">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>柔顺的人总有一颗柔顺的心，看我的小绵羊头多柔顺，哇咔咔。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_51.jpg" alt="" />
              </div>
            </li>
                      <li data-id="52">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>历尽山水，唯望妻儿安康！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_52.jpg" alt="" />
              </div>
            </li>
                      <li data-id="53">
              <div class="wrap mid-equi-square">
                <div class="layer-title bg-opacity bg-red"><span>我爱我的家，儿子女儿亲爱的她。。。。我闺女这么漂亮，多随我，偷乐！</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_53.jpg" alt="" />
              </div>
            </li>
                      <li data-id="54">
              <div class="speci-wrap ">
                <div class="layer-title bg-opacity bg-red"><span>我叫尔康，寻找大明湖畔的夏雨荷，那是我丈母娘，我想问她：我的紫薇在哪。。。。。。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_54.jpg" alt="" />
              </div>
            </li>
                      <li data-id="55">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>每天一包猴头菇饼干，一包舒化奶，妈妈再也不用担心我营养不良了。。。。。。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_55.jpg" alt="" />
              </div>
            </li>
                      <li data-id="56">
              <div class="wrap ">
                <div class="layer-title bg-opacity bg-red"><span>每天和慕课女神坐在一起，想想还有点小激动呢。</span></div>
                <img class="img" src="__PUBLIC__/img前台/aboutus/ourgroup_56.jpg" alt="" />
              </div>
            </li>
                  </ol>
  </div>
</div>


          </div>
        </div>
    </div>
</div>

</div>



<script>

  
    $("#pjax-container").delegate(".wrap,.speci-wrap","mouseenter",function(){
        if(!$(this).hasClass("hover"))
        {
            $(this).addClass("hover")
        }
    }).delegate(".wrap,.speci-wrap","mouseleave",function(){
        if($(this).hasClass("hover")){
            $(this).removeClass("hover");
        }
    });
                                                                                                                                              
</script>
<include file="Public/footer"/>
