<include file="Public/header"/>
<load href="__PUBLIC__/css前台/about/a.css" />
<link rel="stylesheet" href="http://static.mukewang.com/static/css/??base.css,common/common-less.css,seek/common.css,seek/create.css,seek/apply.css?v=1444613646" type="text/css" />
<div id="main">

<div class="seek-container clearfix">
    <div class="l seek-l">
        <div class="head">
            <h2 class="deepen-col">欢迎加入慕课讲师团，世界因你而精彩</h2>
        </div>
        <div class="content">
            <form action="{:U('lecturer')}" method="post">
                <table>
                    <tr>
                        <td class="label"><span class="star">*&nbsp;</span>我的简介</td>
                        <td class="textarea">
                            <textarea class="apply-introduction" name="user_intro" id="apply-introduction" placeholder="输入我的简介" onkeyup="check(this)"></textarea>
                            <p class="tip font-num">
                                <span class="left">简介尽可能体现您的主攻技术方向,从业经历,公开分享的经验等</span>
                                <span class="right">剩余<font  id="myfont">200</font>字</span>
                            </p>
                            <div class="portrait">
                                <a href="{:U('Percenter/perlesson')}"><img src="__ROOT__/Uploads/{$img.name}"/></a>
                                <a class="nickname deepen-col" href="/space/u/uid/2531751">{$username.nick}</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><span class="star">*&nbsp;</span>我的姓名</td>
                        <td>
                            <input id="apply-name" name="rel_name" class="true-name" type="text" value="" placeholder="输入你的姓名">
                            <p class="tip">输入你的真实姓名</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><span class="star">*&nbsp;</span>联系方式</td>
                        <td>
                            <input id="apply-phone" name="cont_intro" class="phone-num" type="text" value="" placeholder="输入手机号码"><span id="span1"></span>
                            <p class="tip">慕课网将通过此方式与你取得联系</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">试讲视频</td>
                        <td>
                            <input id="apply-media" name="video" class="media-url" type="text" placeholder="粘贴视频页地址">
                            <p class="tip">粘贴视频播放页地址即可自动提取（仅支持慕课网和优酷），可选填</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td>
                            <button><input class="submit" type="submit" id="lecturer-submit" value="提交" /></button>
                            <p class="warning tip"></p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="r seek-r">
        <!-- 应聘讲师 -->
<div class="hire shadow">
	<img src="/static/img/hire_img.jpg" alt="" class="hire_img" />
	<p class="hire-reason">如果你对本课程领域擅长、能按照自己或者本求课的描述分享你的知识给互联网用户，就来应聘吧</p>
	<p class="hire-reason">你的课程会在慕课网及我们的合作渠道中展示和推广，你就是未来的行业大牛</p>
	<p class="hire-reason">慕课网还会为你支付课程公益津贴，让你得到既实际又实惠的回报</p>
</div>
<!-- 讲师团成员 这边可以限制遍历三个，但必须先把人物界面做下-->
<div class="lecturer">
	<h2 class="lecturer-hd">他们也在慕课讲师团</h2>
	<ul class="lecturer-bd">
		<li>
			<a class="lecturer-col" href="###" target="_blank">
				<img class="lecturer-img" src="http://img.mukewang.com/user/52e0ebbc000130fb16041604-220-220.jpg" alt="" />
				<i class="lecturer-name">大城小胖</i>
			</a>
			<p class="lecturer-intro">国内知名前端和Java工程师、著名HTML5专家、独立游戏开发者</p>
		</li>
		<li>
			<a class="lecturer-col" href="###" target="_blank">
				<img class="lecturer-img" src="http://img.mukewang.com/user/536b4d120001005f02720306-220-220.jpg" alt="" />
				<i class="lecturer-name">远人</i>
			</a>
			<p class="lecturer-intro">先后就职于腾讯、人人网，资深的云前端工程师，首席前端架构师</p>
		</li>
		<li>
			<a class="lecturer-col" href="" target="_blank">
				<img class="lecturer-img" src="http://img.mukewang.com/user/531438a60001ee3110240681-220-220.jpg" alt="" />
				<i class="lecturer-name">大漠穷秋</i>
			</a>
			<p class="lecturer-intro">《Ext江湖》、《ActionScript3.0游戏基础（第二版）》、《使用AngularJS开发下一代WEB应用》作者</p>
		</li>
	</ul>
</div>
    </div>
</div>

</div>


<script>
        var myfont = document.getElementById('myfont');

        var num = 200;
        
        function pick(num,str){
            var tmp=str.substr(0,num);
            return tmp;  
        }

        function check(obj){
            //textarea  要获取动态的值 只能用value 属性
            //alert(obj.value);
            var msg = obj.value; 
            var a = num-msg.length;
            
            myfont.innerHTML = num - msg.length;
            var a =num - msg.length;            
            if(a<0){
                obj.value = pick(200,msg);
                
                myfont.innerHTML=0;
            }
           
        }

         
	
		$('#apply-phone').blur(function(){
            	var phone = $(this).val();
                    if(phone =="")
                        $('#span1').html('<font color="red">手机号不能为空</font>');
                    if(phone !="" && !/^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/.test(phone))
                        $('#span1').html('<font color="red">手机号输入不合法</font>');
                }
        )

         $('#apply-phone').focus(function(){
          
           $('#span1').html(''); 
		})


        

    </script>
<include file="Public/footer"/>
