<include file="Public/header"/>

<load href="__PUBLIC__/css/saved_resource_l.css" />

<include file="Public/course_info"/>

    <div class="course-info-main clearfix w">
        <div class="info-bar clearfix">

            <a href="{:U('learn?lesson_id='.$lesson['id'])}" class="btn-red start-study-btn r">{$button}</a>
        </div>
        <div class="content-wrap">
            <div class="content">
                <div class="course-brief">
                    <h3 class="ctit">课程介绍</h3>
                    <p class="auto-wrap">{$lesson.lesson_desc}</p>
                </div>
                <div class="course-outline">
                    <div class="bar clearfix">
                        <h3 class="ctit l">课程提纲</h3>
                        <ul class="tools l">
                            <li class="l">
                                {$sums}<i class="icon-video"></i><span>个视频</span>
                            </li>
                        </ul>
                    </div>
                    <div class="outline-list">
                        <ul>
                            <foreach name="z_detail" item="val">
                                <li class="chapter clearfix ">
                                    <i class="chapter-icon"></i>
                                    <div class="chapter-bd l">
                                        <h5 class="name">{$val.zh_name}</h5>
                                        <p class="desc">{$val.zh_desc}</p>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="aside r">
                <div class="bd">
                    <div class="box mb40">
                        <h4>讲师提示</h4>

                        <div class="teacher-info">
                            <a href="/space/teacher/id/1352822" target="_blank">
                                <img src='' width='80' height='80' />
                            </a>
                            <span class="tit">
                            <a href="/space/teacher/id/1352822" target="_blank">JesonChen</a><i class="icon-imooc"></i>

                            </span>
                            <span class="job">其它</span>
                        </div>

                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>课程须知</dt>
                                <dd class="autowrap">该课程是针对新手的一个简单基础的课程，让您快速了解JS，通过一些简单的代码编写体会JS。如果您已经对JS有所了解，可以跳过本课程，学习JS进阶课程，进一步学习JS相应的基础知识。学习本课程，希望您至少具备HTML/CSS基础知识，认识常用的标签。</dd>
                            </dl>
                            <dl>
                                <dt>老师告诉你能学到什么？</dt>
                                <dd class="autowrap">1. 理解JavaScript基础语法；
                                    2. 掌握常用语句的使用方法；
                                    3. 学会如何获取DOM元素及进行简单操作。</dd>
                            </dl>
                        </div>
                    </div>
                </div>    </div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- 视频介绍 -->
    <div id="js-video-wrap" class="video pop-video" style="display:none">
        <div class="video_box" id="js-video"></div>
        <a href="javascript:;" class="pop-close icon-close"></a>
    </div>

</div>
<include file="Public/footer"/>
