<include file="Public/header"/>

<load href="__PUBLIC__/css/saved_resource_l3.css" />

<include file="Public/course_info"/>

    <div class="course-info-main clearfix w">

        <div class="info-bar clearfix" >
           <!-- <a href="{:U('learn?lesson_id='.$lesson['id'])}"-->
            

            
        </div>
        <div class="course-info-main clearfix w has-progress" style="">
  
  <div class="info-bar clearfix">
  <a href="http://www.imooc.com/video/10505" target="_blank" class="btn-red start-study-btn r J-learn-course">继续学习</a>
          <span class="start-study-title">
      1-1 正则简介
    </span>
        <div class="exp-progress">
        <span class="exp-txt">
            <span class="exp-per">
                <strong>0</strong>%
            </span>
            用时
            <span class="exp-time"><i>0</i>分</span>
        </span>
        <div class="exp-bar">
          <ins style="width: 0%"></ins>
        </div>
    </div>
  </div>  <div class="content-wrap clearfix" style="">
    <div class="content" style="">
      <div class="mod-tab-menu">
    <ul class="course-menu clearfix">
        <li><a class="ui-tabs-active " id="learnOn" href="http://www.imooc.com/learn/550"><span>章节</span></a></li>
        <li><a id="commentOn" class="" href="http://www.imooc.com/comment/550"><span>评论</span></a></li>
        <li><a id="qaOn" class="active" href="./python正则表达式_技术问答_慕课网_files/python正则表达式_技术问答_慕课网.htm"><span>问答</span></a></li>
        <li><a id="noteOn" class="" href="http://www.imooc.com/note/550?sort=last"><span>笔记</span></a></li>
        <li><a id="wikiOn" class="" href="http://www.imooc.com/wiki/550">WIKI</a></li>
    </ul>
    </div>

      
<!--发布问题-->
<div id="js-pub-container" class="issques qa-form no-border clearfix" style="">
 <div class="quesdetail mbottom" id="issuequestitle">
      <span class="ques-label">标题：</span>
      <div class="question-area form-ctrl">
      <a href="http://www.imooc.com/wenda/detail/292353" target="_blank" class="another-meth">如何更好<br>的提问？</a>
      <input type="text" id="ques-title" maxlength="255" name="title" placeholder="请输入问题标题" class="autocomplete wgt-ipt custom-width block defaultbox error" value="">
      <p class="errortip" style="display: block;">标题不能少于5个字符！</p>
      <dl class="send-area-result" style="display: none;"></dl>
      </div>
 </div>
 <div class="quesdetail" style="overflow: hidden; padding-top: 10px;">
      <span class="ques-label">内容：</span>

 
      <p class="errortip" style="display: none;">您还没有填写内容！</p>
 </div>
 <div id="pub-btm" class="pub-btm clearfix">
   <div class="verify-box l js-verify-box" style="display: none">
     <input type="text" class="ipt l" placeholder="请输入验证码">
     <a href="javascript:;" class="js-verify-refresh"><img data-src="/course/getcoursequestioncode" class="verify-media l"></a>
     <span class="verify-help l">
       看不清
       <a href="javascript:;" class="verify-refresh js-verify-refresh">换一换</a>
     </span>
   </div>
   <input type="button" id="js-pub-btn" class="pub-btn r" data-cid="550" value="发布">
 </div>
</div>


<div class="comp-filter-bar">
   <a href="http://www.imooc.com/qa/550/t/1" class="bar-item  active">全部</a>
   <a href="http://www.imooc.com/qa/550/t/2" class="bar-item ">精华</a>
</div>
<div class="answertabcon">
  <div class="course_quescon">
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/244647" class="media" target="_blank" title="淡夏的绿茶">
         <img src="./python正则表达式_技术问答_慕课网_files/551c01880001ca5107410741-40-40.jpg" width="40" height="40">
         <span class="name">
           淡夏的绿...
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/107171" target="_blank" class="replynumber static-count ">
           <span class="static-item answer">
              <b class="val">0</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">6</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/107171" target="_blank" class="qa-tit">老师的命令行工具</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
           
           <div class="l replydes">
             <span class="replydet">嗯～～，这个提问大家都在考虑......</span>
           </div>

                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：1小时前</em>
                      <a href="http://www.imooc.com/video/10507" target="_blank" class="from">源自：2-2 re模块使用（二）</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/1275857" class="media" target="_blank" title="穷人孩子早当家丶">
         <img src="./python正则表达式_技术问答_慕课网_files/5333a2320001acdd02000200-40-40.jpg" width="40" height="40">
         <span class="name">
           穷人孩子...
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/107130" target="_blank" class="replynumber static-count ">
           <span class="static-item answer">
              <b class="val">0</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">3</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/107130" target="_blank" class="qa-tit">linux下grep使用非贪婪模式匹配不上</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
           
           <div class="l replydes">
             <span class="replydet">嗯～～，这个提问大家都在考虑......</span>
           </div>

                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：6小时前</em>
                      <a href="http://www.imooc.com/video/10509" target="_blank" class="from">源自：3-2 正则表达式语法（二）</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/1275857" class="media" target="_blank" title="穷人孩子早当家丶">
         <img src="./python正则表达式_技术问答_慕课网_files/5333a2320001acdd02000200-40-40.jpg" width="40" height="40">
         <span class="name">
           穷人孩子...
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/107127" target="_blank" class="replynumber static-count ">
           <span class="static-item answer">
              <b class="val">0</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">7</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/107127" target="_blank" class="qa-tit">选中多行，并同时调整多行格式是怎么做到的</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
           
           <div class="l replydes">
             <span class="replydet">嗯～～，这个提问大家都在考虑......</span>
           </div>

                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：7小时前</em>
                      <a href="http://www.imooc.com/video/10505" target="_blank" class="from">源自：1-1 正则简介</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/2549001" class="media" target="_blank" title="stephen_imooc">
         <img src="./python正则表达式_技术问答_慕课网_files/5458508600019e2602200220-40-40.jpg" width="40" height="40">
         <span class="name">
           stephen_i...
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/106962" target="_blank" class="replynumber static-count  hasanswer">
           <span class="static-item answer">
              <b class="val">1</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">23</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="isfinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/106962" target="_blank" class="qa-tit">python前景</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
                                                                                                                 <div class="l replydes">
                <span class="replysign adopt">[已采纳答案]</span>
                <a href="http://www.imooc.com/space/u/uid/128142" target="_blank" title="Perona" class="replyuserhead"><img src="./python正则表达式_技术问答_慕课网_files/557e54c10001c62c02750275-80-80.jpg" width="20" height="20"> </a>
                <a href="http://www.imooc.com/space/u/uid/128142" target="_blank" title="Perona" class="nickname">Perona: </a>
                <span class="replydet">嗯，火~~~</span>
              </div>
                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：1天前</em>
                      <a href="http://www.imooc.com/video/10505" target="_blank" class="from">源自：1-1 正则简介</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/324175" class="media" target="_blank" title="Vericlongmore">
         <img src="./python正则表达式_技术问答_慕课网_files/54191abf0001798801000100-40-40.jpg" width="40" height="40">
         <span class="name">
           Vericlong...
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/106761" target="_blank" class="replynumber static-count ">
           <span class="static-item answer">
              <b class="val">0</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">9</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/106761" target="_blank" class="qa-tit">linux操作解答</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
           
           <div class="l replydes">
             <span class="replydet">嗯～～，这个提问大家都在考虑......</span>
           </div>

                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：3天前</em>
                      <a href="http://www.imooc.com/video/10505" target="_blank" class="from">源自：1-1 正则简介</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/2503553" class="media" target="_blank" title="TUFEI">
         <img src="./python正则表达式_技术问答_慕课网_files/5458502c00012d4a02200220-40-40.jpg" width="40" height="40">
         <span class="name">
           TUFEI
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/106753" target="_blank" class="replynumber static-count ">
           <span class="static-item answer">
              <b class="val">0</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">9</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/106753" target="_blank" class="qa-tit">关于教学视频</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
           
           <div class="l replydes">
             <span class="replydet">嗯～～，这个提问大家都在考虑......</span>
           </div>

                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：3天前</em>
                      <a href="http://www.imooc.com/video/10506" target="_blank" class="from">源自：2-1 re模块使用（一）</a>
                      </div>
         </div>
       </div>
     </div>
        <div class="wenda-listcon mod-qa-list clearfix">
       <div class="headslider qa-medias l">
         <a href="http://www.imooc.com/space/u/uid/2613347" class="media" target="_blank" title="junjunj">
         <img src="./python正则表达式_技术问答_慕课网_files/54584ef20001deba02200220-40-40.jpg" width="40" height="40">
         <span class="name">
           junjunj
         </span>
         </a>
       </div>
       <div class="wendaslider qa-content">
         <a href="http://www.imooc.com/qadetail/106659" target="_blank" class="replynumber static-count  hasanswer">
           <span class="static-item answer">
              <b class="val">2</b>
             <span class="key">回答</span>
           </span>
           <span class="static-item">
              <b class="val">18</b>
             <span class="key">浏览</span>
           </span>
         </a>
         <h2 class="wendaquetitle qa-header">
                      <i class="nofinish"></i>
                      <div class="wendatitlecon qa-header-cnt">
                          <a href="http://www.imooc.com/qadetail/106659" target="_blank" class="qa-tit">有个问题非常难懂，我不知道该任何学起</a>
           </div>
         </h2>
         <div class="replycont qa-body clearfix">
           <i class="replyicon l"></i>
                                                                                                                 <div class="l replydes">
                <span class="replysign praise">[最新回答]</span>
                <a href="http://www.imooc.com/space/u/uid/2610178" target="_blank" title="Py_隽恬" class="replyuserhead"><img src="./python正则表达式_技术问答_慕课网_files/5458626a0001503602200220-80-80.jpg" width="20" height="20"> </a>
                <a href="http://www.imooc.com/space/u/uid/2610178" target="_blank" title="Py_隽恬" class="nickname">Py_隽恬: </a>
                <span class="replydet">&lt;...code...&gt;</span>
              </div>
                    </div>
         <div class="replymegfooter qa-footer">
           <div class="wenda-time">
           <em>时间：3天前</em>
                      </div>
         </div>
       </div>
     </div>
      </div>
    
</div>

    </div>
        <div class="aside r">
            <div class="bd">
                <div class="box mb40">
                    <h4>讲师提示</h4>
                    <div class="course-info-tip">
                        <dl class="first">
                            <dt>课程须知</dt>
                            <dd class="autowrap">该课程是针对新手的一个简单基础的课程，让您快速了解JS，通过一些简单的代码编写体会JS。如果您已经对JS有所了解，可以跳过本课程，学习JS进阶课程，进一步学习JS相应的基础知识。学习本课程，希望您至少具备HTML/CSS基础知识，认识常用的标签。</dd>
                        </dl>
                        <dl>
                            <dt>老师告诉你能学到什么？</dt>
                            <dd class="autowrap">1. 理解JavaScript基础语法；
                                2. 掌握常用语句的使用方法；
                                3. 学会如何获取DOM元素及进行简单操作。</dd>
                        </dl>
                    </div>
                </div>
            </div>    </div>
    </div>
        <div class="clear"></div>
    </div>

</div>
<script>

    function change(ob){


        $(ob).siblings().removeClass("chapter-active");

        $(ob).toggleClass("chapter-active");

        var $emp = $(ob).find('p').text();

        $(ob).find('ul').children().remove('.del_m');

        $(ob).siblings().find('ul').children().remove('.del_m');

        $.get('{:U("xi_ajaxName")}',{id:$emp},function(result){
            console.dir($(result));

            var url = '__CONTROLLER__/video';
            $.each(result,function(i,val){

                var tt = val['video_id'];

                $(ob).find('ul').append( '<li class="del_m"><a target="_blank" href="'+ url + '?id=' +tt + '" class="J-media-item programme">'+ val['xi_name'] +'</a></li>');
            });





        });

    }
</script>



<include file="Public/footer"/>
