<include file="Public/header_vi"/>

<div id="studyMain">


    <div id="bgarea" class="video-con">
        <div class="js-box-wrap" style="width: 100%; height: 499px;">
            <div id="J_Box" class="course-video-box">
                <div id="video-box_wrapper" style="position: relative; display: block; width: 100%; height: 100%;"><a id="beforeswfanchor0" href="http://www.imooc.com/video/10396#video-box" tabindex="0" title="Flash start" style="border:0;clip:rect(0 0 0 0);display:block;height:1px;margin:-1px;outline:none;overflow:hidden;padding:0;position:absolute;width:1px;" data-related-swf="video-box"></a>
                    <object type="video/mp4" data="__ROOT__/../mad.mp4" width="100%" height="100%" bgcolor="#000000" id="video-box" name="video-box" class="jwswf swfPrev-beforeswfanchor0 swfNext-afterswfanchor0" tabindex="0">
                        <param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always">
                        <param name="seamlesstabbing" value="true"><param name="wmode" value="opaque">
                    </object>
                    <a id="afterswfanchor0" href="http://www.imooc.com/video/10396#video-box" tabindex="0" title="Flash end" style="border:0;clip:rect(0 0 0 0);display:block;height:1px;margin:-1px;outline:none;overflow:hidden;padding:0;position:absolute;width:1px;" data-related-swf="video-box"></a>
                    <div id="video-box_aspect" style="display: none;"></div>
                </div>
                <div class="next-box J_next-box hide">
                    <div class="next-box-inner">
                        <div class="course-tip-layer J-next-course" data-next-src="/video/10397">
                            <h2>下一节课程： vertical-align起作用的前提
                                <span class="course-duration"> (14:10)</span>
                            </h2>
                            <div class="J-next-auto hide next-auto"><em>3</em> 秒后播放下一节</div>
                            <div class="J-next-btn hide btn btn-red">下一节</div>
                            <a href="http://www.imooc.com/video/10396/0" class="review-course">重新观看</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--此处结构为练习题，视频，编程公用的侧栏-->
       </div>

    <div class="maybe-wenda" id="maybe-wenda" style="display: none;">
        <i class="icon-chat"></i>
        <p class="text">你发的评论可能会是问题？<br>是否将他发到问答中</p>
        <input class="btn ok" type="button" value="好的" id="wenda-ok">
        <input class="btn no" type="button" value="不用" id="wenda-no">
    </div>
</div>

<include file="Public/footer_vi"/>
