
            <div class="program-category">
                <h2>加薪利器</h2>
            </div>
            <div>
                <div class="course-nav-row clearfix">
                    <span class="hd l">方向：</span>
                    <div class="bd">
                        <ul class="">
                            <li class="course-nav-item on">
                                <a href="./慕课网-学习计划_files/慕课网-学习计划.html">全部</a>
                            </li>
                            <li class="course-nav-item ">
                                <a href="http://www.imooc.com/course/program?c=fe">前端开发</a>
                            </li>
                            <li class="course-nav-item ">
                                <a href="http://www.imooc.com/course/program?c=be">后端开发</a>
                            </li>
                            <li class="course-nav-item ">
                                <a href="http://www.imooc.com/course/program?c=mobile">移动开发</a>
                            </li>
                            <li class="course-nav-item ">
                                <a href="http://www.imooc.com/course/program?c=fsd">整站开发</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course-tool-bar clearfix">
                    <div class="tool-left l">
                        <a href="http://www.imooc.com/course/program?sort=last" class="sort-item active">最新</a>
                        <a href="http://www.imooc.com/course/program?sort=pop" class="sort-item">最热</a>

                    </div>
                    <div class="tool-right r">
                                                    <span class="tool-item">

                                                                                                                                    <a href="http://www.imooc.com/course/program?hide=1" class="hide-learned tool-chk ">
                                                                                                                                        隐藏已参加计划
                                                                                                                                    </a>
                            </span>

                        <span class="tool-item total-num">
                            共<b>25</b>个计划
                        </span>
                        <span class="tool-item tool-pager">
                                                        <span class="pager-num">
                                <b class="pager-cur">1</b>/<em class="pager-total">2</em>
                            </span>
                                                        <a href="javascript:void(0)" class="pager-action pager-prev hide-text disabled">上一页</a>

                                                        <a href="http://www.imooc.com/course/program?page=2" class="pager-action pager-next hide-text">下一页</a>

                        </span>
                    </div>
                </div>
            </div>

            <div class="course-list salary-raise program-medias">
                <ul class="clearfix">
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/43" title="教你HTML5开发爱心鱼游戏">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="教你HTML5开发爱心鱼游戏" src="./慕课网-学习计划_files/562f42aa0001015602400180.jpg">
                            </div>
                            <h5>
                                <span>教你HTML5开发爱心鱼游戏</span>
                            </h5>
                            <div class="tags">
                                <span>HTML5</span>
                                <span>游戏开发</span>
                                <span>Canvas</span>
                            </div>
                            <div class="tips">
                                <span class="l">4门课程</span>
                                <span class="l ml20">187人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/42" title="C++远征攻略">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="C++远征攻略" src="./慕课网-学习计划_files/55cc72150001f41002400180.jpg">
                            </div>
                            <h5>
                                <span>C++远征攻略</span>
                            </h5>
                            <div class="tags">
                                <span>C++基础</span>
                                <span>面向对象</span>
                            </div>
                            <div class="tips">
                                <span class="l">11门课程</span>
                                <span class="l ml20">1048人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/40" title="Oracle数据库开发必备利器">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Oracle数据库开发必备利器" src="./慕课网-学习计划_files/55a6338f00019d6002400180.jpg">
                            </div>
                            <h5>
                                <span>Oracle数据库开发必备利器</span>
                            </h5>
                            <div class="tags">
                                <span>Oracle</span>
                                <span>数据库开发</span>
                            </div>
                            <div class="tips">
                                <span class="l">6门课程</span>
                                <span class="l ml20">564人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/39" title="Swift加薪利器-iOS动画特辑">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Swift加薪利器-iOS动画特辑" src="./慕课网-学习计划_files/559628bd00012a1502400180.jpg">
                            </div>
                            <h5>
                                <span>Swift加薪利器-iOS动画特辑</span>
                            </h5>
                            <div class="tags">
                                <span>加薪</span>
                                <span>动画特辑</span>
                                <span>swift</span>
                            </div>
                            <div class="tips">
                                <span class="l">7门课程</span>
                                <span class="l ml20">397人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/37" title="C语言学习攻略">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="C语言学习攻略" src="./慕课网-学习计划_files/557133ad000112c302400180.jpg">
                            </div>
                            <h5>
                                <span>C语言学习攻略</span>
                            </h5>
                            <div class="tags">
                                <span>编程基础</span>
                                <span>零基础</span>
                                <span>C语言基础</span>
                            </div>
                            <div class="tips">
                                <span class="l">4门课程</span>
                                <span class="l ml20">2624人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/35" title="前端经典案例集萃之 &quot;网页常用特效&quot;">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="前端经典案例集萃之 &quot;网页常用特效&quot;" src="./慕课网-学习计划_files/5583738e00013e3902400180.jpg">
                            </div>
                            <h5>
                                <span>前端经典案例集萃之 "网页常用特效"</span>
                            </h5>
                            <div class="tags">
                                <span>职业必备</span>
                                <span>必备技能</span>
                                <span>实践</span>
                            </div>
                            <div class="tips">
                                <span class="l">7门课程</span>
                                <span class="l ml20">1693人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/38" title="Tony老师聊shell">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Tony老师聊shell" src="./慕课网-学习计划_files/557159b70001d44602400180.jpg">
                            </div>
                            <h5>
                                <span>Tony老师聊shell</span>
                            </h5>
                            <div class="tags">
                                <span>Linux</span>
                                <span>shell入门</span>
                                <span>加薪利器</span>
                            </div>
                            <div class="tips">
                                <span class="l">6门课程</span>
                                <span class="l ml20">1049人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/36" title="Android加薪利器——断点续传">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Android加薪利器——断点续传" src="./慕课网-学习计划_files/5570196a00012c1102400180.jpg">
                            </div>
                            <h5>
                                <span>Android加薪利器——断点续传</span>
                            </h5>
                            <div class="tags">
                                <span>热门技术</span>
                                <span>升职加薪</span>
                            </div>
                            <div class="tips">
                                <span class="l">11门课程</span>
                                <span class="l ml20">581人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/29" title="高德开发者必由之路——Android SDK篇">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="高德开发者必由之路——Android SDK篇" src="./慕课网-学习计划_files/55aef90d0001f2a502400180.jpg">
                            </div>
                            <h5>
                                <span>高德开发者必由之路——Android SDK篇</span>
                            </h5>
                            <div class="tags">
                                <span>地图开发</span>
                                <span>定位检索</span>
                            </div>
                            <div class="tips">
                                <span class="l">12门课程</span>
                                <span class="l ml20">873人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/28" title="高德开发者必由之路——JS API篇">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="高德开发者必由之路——JS API篇" src="./慕课网-学习计划_files/55aef9380001ebf802400180.jpg">
                            </div>
                            <h5>
                                <span>高德开发者必由之路——JS API篇</span>
                            </h5>
                            <div class="tags">
                                <span>从基础到实践</span>
                                <span>地图开发</span>
                            </div>
                            <div class="tips">
                                <span class="l">6门课程</span>
                                <span class="l ml20">1115人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/26" title="前端经典案例集萃之“图片、信息展示”">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="前端经典案例集萃之“图片、信息展示”" src="./慕课网-学习计划_files/5567d4a900015f2b02400180.jpg">
                            </div>
                            <h5>
                                <span>前端经典案例集萃之“图片、信息展示”</span>
                            </h5>
                            <div class="tags">
                                <span>经典案例</span>
                                <span>职业必备</span>
                            </div>
                            <div class="tips">
                                <span class="l">8门课程</span>
                                <span class="l ml20">2114人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/24" title="Android加薪利器--自定义View">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Android加薪利器--自定义View" src="./慕课网-学习计划_files/5567d4be000168c702400180.jpg">
                            </div>
                            <h5>
                                <span>Android加薪利器--自定义View</span>
                            </h5>
                            <div class="tags">
                                <span>Android自定义View</span>
                                <span>升职加薪</span>
                                <span>热门效果</span>
                            </div>
                            <div class="tips">
                                <span class="l">7门课程</span>
                                <span class="l ml20">1447人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/23" title="搞定Java加解密">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="搞定Java加解密" src="./慕课网-学习计划_files/5567ca940001817002400180.jpg">
                            </div>
                            <h5>
                                <span>搞定Java加解密</span>
                            </h5>
                            <div class="tags">
                                <span>Java开发</span>
                                <span>加密解密</span>
                            </div>
                            <div class="tips">
                                <span class="l">5门课程</span>
                                <span class="l ml20">1118人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/22" title="响应式布局那些事">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="响应式布局那些事" src="./慕课网-学习计划_files/5567cad70001113202400180.jpg">
                            </div>
                            <h5>
                                <span>响应式布局那些事</span>
                            </h5>
                            <div class="tags">
                                <span>升职利器</span>
                                <span>bootstrap</span>
                                <span>前端趋势</span>
                            </div>
                            <div class="tips">
                                <span class="l">4门课程</span>
                                <span class="l ml20">3777人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/20" title="jQuery源码探索之旅">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="jQuery源码探索之旅" src="./慕课网-学习计划_files/55aef92c0001bce602400180.jpg">
                            </div>
                            <h5>
                                <span>jQuery源码探索之旅</span>
                            </h5>
                            <div class="tags">
                                <span>高手锻造</span>
                                <span>jQuery高手</span>
                                <span>框架初探</span>
                            </div>
                            <div class="tips">
                                <span class="l">5门课程</span>
                                <span class="l ml20">3168人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/18" title="模式宗师养成宝典之Java版">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="模式宗师养成宝典之Java版" src="./慕课网-学习计划_files/55aefbb50001500c02400180.jpg">
                            </div>
                            <h5>
                                <span>模式宗师养成宝典之Java版</span>
                            </h5>
                            <div class="tags">
                                <span>java</span>
                                <span>加薪利器</span>
                                <span>模式认知</span>
                            </div>
                            <div class="tips">
                                <span class="l">8门课程</span>
                                <span class="l ml20">2625人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/17" title="从0开始学习制作QQ侧滑菜单">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="从0开始学习制作QQ侧滑菜单" src="./慕课网-学习计划_files/5567cb0400012b9e02400180.jpg">
                            </div>
                            <h5>
                                <span>从0开始学习制作QQ侧滑菜单</span>
                            </h5>
                            <div class="tags">
                                <span>侧滑菜单</span>
                                <span>热门应用</span>
                                <span>Android</span>
                            </div>
                            <div class="tips">
                                <span class="l">4门课程</span>
                                <span class="l ml20">1799人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/27" title="从零开始学习ThinkPHP框架">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="从零开始学习ThinkPHP框架" src="./慕课网-学习计划_files/5567d4a00001dded02400180.jpg">
                            </div>
                            <h5>
                                <span>从零开始学习ThinkPHP框架</span>
                            </h5>
                            <div class="tags">
                                <span>职场必备</span>
                                <span>热门框架</span>
                            </div>
                            <div class="tips">
                                <span class="l">9门课程</span>
                                <span class="l ml20">2096人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/25" title="Java攻城狮养成计划（入门篇）">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Java攻城狮养成计划（入门篇）" src="./慕课网-学习计划_files/55aefbc70001bb4802400180.jpg">
                            </div>
                            <h5>
                                <span>Java攻城狮养成计划（入门篇）</span>
                            </h5>
                            <div class="tags">
                                <span>Java入门</span>
                                <span>零基础</span>
                            </div>
                            <div class="tips">
                                <span class="l">9门课程</span>
                                <span class="l ml20">5786人学习</span>
                            </div>
                        </a>
                    </li>
                    <li class="course-one">
                        <a href="http://www.imooc.com/course/programdetail/pid/3" title="Web前端工程师成长第一阶段(基础篇)">
                            <div class="course-list-img">
                                <img width="240" height="180" alt="Web前端工程师成长第一阶段(基础篇)" src="./慕课网-学习计划_files/55aef94f0001efa702400180.jpg">
                            </div>
                            <h5>
                                <span>Web前端工程师成长第一阶段(基础篇)</span>
                            </h5>
                            <div class="tags">
                                <span>求职必备</span>
                                <span>前端基础</span>
                            </div>
                            <div class="tips">
                                <span class="l">10门课程</span>
                                <span class="l ml20">26042人学习</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page"><span class="disabled_page">首页</span><span class="disabled_page">上一页</span><a href="javascript:void(0)#raises" class="active">1</a><a href="http://www.imooc.com/course/program?page=2#raises">2</a><a href="http://www.imooc.com/course/program?page=2#raises">下一页</a><a href="http://www.imooc.com/course/program?page=2#raises">尾页</a></div>
            <ul class="program-list clearfix hide"></ul><!--program end-->
            <div class="bg-loading"></div>
        </div><!--program-main end-->
    </div><!--wrap end-->

</div>

<div id="footer">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;" target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/3306361973" target="_blank" title="新浪微博"></a>
                <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="http://www.imooc.com/" target="_blank">网站首页</a></li>
                        <li><a href="http://www.imooc.com/about/job" target="_blank">人才招聘</a></li>
                        <li> <a href="http://www.imooc.com/about/contact" target="_blank">联系我们</a></li>
                        <li><a href="http://daxue.imooc.com/" target="_blank">高校联盟</a></li>
                        <li><a href="http://www.imooc.com/about/us" target="_blank">关于我们</a></li>
                        <li> <a href="http://www.imooc.com/about/recruit" target="_blank">讲师招募</a></li>
                        <li> <a href="http://www.imooc.com/user/feedback" target="_blank">意见反馈</a></li>
                        <li> <a href="http://www.imooc.com/about/friendly" target="_blank">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2015 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</div>
<div id="J_GotoTop" class="elevator">
    <a class="elevator-weixin" href="javascript:;">
        <div class="elevator-weixin-box">
        </div>
    </a>
    <a class="elevator-msg" href="http://www.imooc.com/user/feedback" target="_blank" id="feedBack"></a>
    <a class="elevator-app" href="http://www.imooc.com/mobile/app">
        <div class="elevator-app-box">
        </div>
    </a>
    <a class="elevator-top" href="javascript:;" style="display:none" id="backTop"></a>
</div>



<!--script-->
<script src="./慕课网-学习计划_files/ssologin.js"></script>
<script type="text/javascript" src="./慕课网-学习计划_files/sea.js"></script>
<script type="text/javascript" src="./慕课网-学习计划_files/sea_config.js"></script>
<script type="text/javascript">seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);</script>




<div style="display: none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff0cfcccd7b1393990c78efdeebff3968' type='text/javascript'%3E%3C/script%3E"));
        (function (d) {
            window.bd_cpro_rtid="rHT4P1c";
            var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
            var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
        })(document);
    </script><script src="./慕课网-学习计划_files/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f0cfcccd7b1393990c78efdeebff3968" target="_blank"><img border="0" src="./慕课网-学习计划_files/21.gif" width="20" height="20"></a>
    <script>
        (function(){
            var bp = document.createElement('script');
            bp.src = '//push.zhanzhang.baidu.com/push.js';
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</div>


</body></html>